# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Netresearch DTT GmbH

# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# Build stuff
.build/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache

# Custom
/nr_sync*.zip
