<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>
    <f:section name="Main">
        <div class="alert alert-warning">
            <div class="media">
                <div class="media-left">
                    <span class="icon-emphasized">
                        <core:icon identifier="actions-exclamation" />
                    </span>
                </div>
                <div class="media-body">
                    <p class="alert-message">{message}</p>
                </div>
            </div>
        </div>
    </f:section>
</html>
