<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:nrs="http://typo3.org/ns/Netresearch/Sync/ViewHelpers"
>
    <f:section name="Main">
        <h1 class="headline">
            <nrs:translate id="headline.table_state" />
        </h1>
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><nrs:translate id="column.table" /></th>
                        <th><nrs:translate id="column.last_sync" /></th>
                        <th><nrs:translate id="column.last_type" /></th>
                        <th><nrs:translate id="column.last_user" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{tableSyncStats.syncStats}" key="table" as="arTableSyncStats">
                        <tr class="bgColor4">
                            <td>{table}</td>

                            <f:if condition="{arTableSyncStats.last_time}">
                                <f:then>
                                    <td>
                                        <f:if condition="{arTableSyncStats.last_time}">
                                            <f:then>
                                                <f:format.date date="{arTableSyncStats.last_time}" format="Y-m-d H:i:s" />
                                            </f:then>
                                            <f:else>
                                                n/a
                                            </f:else>
                                        </f:if>
                                    </td>
                                    <td>
                                        <nrs:translate id="sync_type.{arTableSyncStats.last_type}" />
                                    </td>
                                    <td>
                                        <nrs:format.username id="{arTableSyncStats.last_user}" />
                                    </td>
                                </f:then>
                                <f:else>
                                    <td colspan="3">n/a</td>
                                </f:else>
                            </f:if>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:section>
</html>
