<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:nrs="http://typo3.org/ns/Netresearch/Sync/ViewHelpers"
>
    <f:section name="Main">
        <h2><nrs:translate id="headline.sync_list" /></h2>
        <div class="form-section">
            <f:for each="{syncList.asArray}" key="areaId" as="syncList2">
                <f:variable name="area" value="{nrs:area(id: areaId)}" />
                <h3>{area.name} - {area.description}</h3>

                <div class="table-fit">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><nrs:translate id="column.item" /></th>
                                <th><nrs:translate id="column.action" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{syncList2}" as="syncItem">
                                <tr class="bgColor4">
                                    <td class="col-title">
                                        <nrs:translate id="label.page" data="{id: syncItem.pageID}" /> - <nrs:backend.recordTitle pid="{syncItem.pageID}" />
                                        <f:if condition="{syncItem.type} == 'tree' && {syncItem.count} > 0">
                                            <br>
                                            <small><nrs:translate id="label.list_with_subs" data="{pages: syncItem.count, deleted: syncItem.deleted, noaccess: syncItem.noaccess}" /></small>
                                        </f:if>
                                    </td>
                                    <td class="col-control">
                                        <div class="btn-group" role="group">
                                            <f:if condition="{syncItem.removeable}">
                                                <button class="btn btn-default"
                                                        type="submit"
                                                        name="data[delete][{areaId}][{syncItem.pageID}]"
                                                        value="Remove from sync list">
                                                    <core:icon identifier="actions-selection-delete" size="small" />
                                                </button>
                                            </f:if>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </div>
            </f:for>
        </div>
    </f:section>
</html>
