<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:nrs="http://typo3.org/ns/Netresearch/Sync/ViewHelpers"
>
    <f:section name="Main">
        <h1>
            <nrs:translate id="headline.waiting_syncs" />
        </h1>
        <div class="form-section">
            <f:for each="{area.systems}" key="systemKey" as="system">
                <f:if condition="!{system.hide}">
                    <h3>
                        <f:if condition="{nrs:folder.lockFileExists(directory: system.directory)}">
                            <f:then>
                                <a href="{nrs:backend.uri(area: systemKey, route: moduleRoute, lock: 0, pid: pageUid)}"
                                   class="btn btn-danger"
                                   title="Sync disabled, click to enable"
                                >
                                    <core:icon identifier="actions-lock" size="small" /></a>
                            </f:then>
                            <f:else>
                                <a href="{nrs:backend.uri(area: systemKey, route: moduleRoute, lock: 1, pid: pageUid)}"
                                   class="btn btn-success"
                                   title="Sync enabled, click to disable"
                                >
                                    <core:icon identifier="actions-unlock" size="small" /></a>
                            </f:else>
                        </f:if>

                        <nrs:translate id="label.sync_target" /> "{system.name}"
                    </h3>

                    <f:variable name="files"     value="{nrs:folder.files(directory: system.directory)}" />
                    <f:variable name="fileCount" value="{files -> f:count()}" />

                    <f:if condition="{fileCount} >= 1">
                        <f:variable name="syncSize"  value="0" />
                        <f:variable name="firstFile" value="" />

                        <f:variable name="waitingSyncs">
                            <div class="table-fit">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th><nrs:translate id="column.file" /></th>
                                            <th style="width: 20%;"><nrs:translate id="column.size" /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <f:for each="{files}" as="file" key="fileKey" iteration="filesIterator">
                                            <f:if condition="{filesIterator.isFirst}">
                                                <f:variable name="firstFile" value="{file}" />
                                            </f:if>

                                            <f:variable name="syncSize" value="{syncSize + file.size}" />

                                            <tr class="bgColor4">
                                                <td>
                                                    <nrs:file.basename file="{file.identifier}" />
                                                </td>
                                                <td>
                                                    <f:format.number decimals="4">{file.size / 1024 / 1024}</f:format.number> MiB
                                                </td>
                                            </tr>
                                        </f:for>
                                    </tbody>
                                </table>
                            </div>
                        </f:variable>

                        <f:variable name="modifiedTime" value="{firstFile.creationTime}" />
                        <f:variable name="timestamp"    value="{v:system.timestamp()}" />
                        <f:variable name="timeDiff"     value="{timestamp - modifiedTime}" />

                        <f:if condition="{modifiedTime} < {timestamp - 900}">
                            <f:then>
                                <f:comment>
                                    <!-- If the oldest file time is older than 15 minutes, display this in red -->
                                </f:comment>
                                <f:variable name="messageType" value="ERROR" />
                            </f:then>
                            <f:else>
                                <f:variable name="messageType" value="INFO" />
                            </f:else>
                        </f:if>

                        <f:variable name="timeDiff" value="{timeDiff / 60}" />
                        <f:variable name="syncSize" value="{syncSize / 1024 / 1024}" />

                        <nrs:flashMessage type="{messageType}">
                            <nrs:translate id="waitingfiles"
                                           data="{
                                           files: fileCount,
                                           size: '{syncSize -> f:format.number()} MiB',
                                           oldestFile: '{f:format.date(date: modifiedTime, format: \'Y-m-d H:i\')}',
                                           minutes: '{v:math.ceil(a: timeDiff)}'}"
                            />
                        </nrs:flashMessage>

                        {waitingSyncs -> f:format.raw()}
                    </f:if>
                </f:if>
            </f:for>
        </div>
    </f:section>
</html>
