<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers/Be"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:nrs="http://typo3.org/ns/Netresearch/Sync/ViewHelpers"
>
    <f:form method="post" id="SyncModuleController">
        <input type="hidden" name="route" value="/module/web/SyncAdministration/" />
        <input type="hidden" name="id" value="{id}" />

        <f:if condition="{syncLock.locked}">
            <f:then>
                <div class="alert alert-warning">
                    {syncLock.lockMessage}
                </div>
            </f:then>
            <f:else>
                <f:if condition="{showTableSyncStats}">
                    <h2>Table sync status</h2>
                    <f:render partial="SyncStatus" section="Main" arguments="{_all}" />
                </f:if>

                <h2>Create new sync</h2>

                <f:if condition="{isSingePageSyncModule} && {pageValid}">
                    <div class="form-section">
                        <f:render partial="PageSync" section="Main" arguments="{_all}" />
                    </div>
                </f:if>

                <f:if condition="{bUseSyncList} && !{syncList.empty}">
                    <h2>Sync list</h2>
                    <div class="form-section">
                        <f:render partial="SyncList" section="Main" arguments="{_all}" />
                    </div>
                </f:if>

                <f:if condition="{showCheckBoxes}">
                    <div class="form-section">
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="force_full_sync">
                                    <input type="checkbox" name="data[force_full_sync]" value="1" id="force_full_sync">
                                    Force full sync. A full sync of this element will be initiated even if an incremental sync is possible. This should be avoided.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="delete_obsolete_rows">
                                    <input type="checkbox" name="data[delete_obsolete_rows]" value="1" id="delete_obsolete_rows" checked="checked">
                                    Delete obsolete Rows on LIVE system. All Rows which are hidden or deleted or where endtime is a date in past will be deleted on live system
                                </label>
                            </div>
                        </div>
                    </div>
                </f:if>

                <f:if condition="{selectedMenuItem}">
                    <v:variable.set name="disabled" value="" />

                    <f:if condition="{bUseSyncList} && {syncList.empty}">
                        <v:variable.set name="disabled" value="disabled" />
                    </f:if>

                    <div class="form-section">
                        <div class="form-group">
                            <input class="btn btn-primary" type="Submit" name="data[submit]" value="Create sync" {disabled}>

                            <f:format.raw>{function.content}</f:format.raw>
                        </div>
                    </div>
                </f:if>

                <h2>Waiting syncs</h2>
                <div class="form-section">
                    <f:render partial="WaitList" section="Main" arguments="{_all}" />
                </div>
            </f:else>
        </f:if>
    </f:form>

</html>